  .small {
    font-size: 10px;
  }
  
  .drop-container:hover .drop {
    display: block;
    z-index: 1;

  }
  .drop-container .drop {
    display: none;
    position: absolute;
    top: 20px;
    left: 8px;
  }
  .drop-container .drop a {
    display: block;
    padding: 8px 16px;
  }

  .accordion {
    color: #337ab7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    /*border: none;*/
    outline: none;
    transition: 0.4s;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  #editor {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  #saveButton {
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    height: 70px;
    width: 70px;
  }

  #searchButton {
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    height: 70px;
    width: 70px;
  }

  .action-buttons {
    position: absolute;
    top: 115px;
    right: 50px;
    width: 65px;
  }

  .ace_search.right {
    right: 25px;
  }