.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

#editor {
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: relative;
    height: 100%;
    width: 100%;
}

#saveButton {
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
}

#searchButton {
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    height: 50px;
    width: 50px;
}

.action-buttons {
    position: absolute;
    top: 70px;
    right: 0px;
    width: 65px;
}

.ace_search.right {
    right: 25px;
}

.ace_content {
    position: relative;
}

#ext {
    position: relative;
}

.row {
    position: fixed;
    overflow: auto;
    width: 110%;
    height: 100%;
}

.col-sm-3 {
    width: 20%;
}

.col-sm-9 {
    width: 80%;
}
