.shell-wrap {
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
  
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  
  .shell-body {
    margin: 0;
    padding: 5px 5px 100px 5px;
    height: 100vh;
    overflow: scroll;
    list-style: none;
    background: #141414;
    color: #45D40C;
    font: 1.45em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .shell-body li {
    word-wrap: break-word;
    position: relative;
    padding: 0 0 0 15px;
  }